/figures/
/alpha_v2/dat/
/alpha_v2/figures/
/beta/dat/
/beta/figures/
master.aux
master.bbl
master.bcf
master.blg
master.fdb_latexmk
master.fls
master.log
master.out
master.run.xml
master.tex.latexmain
master.toc